@model CarListViewModel

@{
    ViewData["Title"] = "Overzicht Auto's";
}

<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading" style="font-size: 1.3em">All currently registered cars</div>
    <table class="table">
        <thead>
        <tr style="font-weight: bold">
            <td style="padding-left: 17px">License Plate</td>
            <td>Puchase Date</td>
            <td>Owner</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Color</td>
        </tr>
        </thead>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td style="padding-left: 17px">@car.LicensePlate</td>
                <td>@car.DatePurchased.ToString("dd/MM/yyyy")</td>
                @if(car.Owner != " ")
                {
                    <td>@car.Owner</td>
                }
                else
                {
                    <td>N/A</td>
                }
                
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Color</td>
                <td><a href = '/cars/@car.Id'>edit</a></td>
                <td><a style="color: red" asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/'); return false; ">
                            delete
                        </a></td>
            </tr>
        }
    </table>
</div>

<a href="/cars/create" class="btn btn-primary">New Car</a>