@model VersionListViewModel

@{
    ViewData["Title"] = "Overview Car Types";
}

<div class="panel panel-default" style="margin-top: 20px">
    <div class="panel-heading" style="font-size: 1.3em;">
        Car types and cars of that type on the road
    </div>
        <table class="table">
            @foreach (var version in Model.Versions)
            {
                <tr>
                    <td style="padding-left: 17px; font-weight: bold">@version.Brand - @version.Model</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                foreach (var car in version.Cars)
                {
                    
                    <tr>
                        <td style="padding-left: 25px">@car.LicensePlate</td>
                        @if(car.Owner != null)
                        {
                            <td>@car.Owner.FirstName @car.Owner.LastName</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }

                        <td style="text-align: right"><a href="/cars/@car.Id">edit</a></td>
                        <td style="width: 20px"><a style="color: red;" asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/'); return false; ">
                            delete
                        </a></td>
                    </tr>

                }
            }
        </table>
</div>
<div>
    <a href="/versions/create" class="btn btn-primary">New Type</a>
    <a href="/cars/create" class="btn btn-info">New Car</a>
</div>